*{
  --primary: #401f4d;
  --secondary: #002f4e;
  --dark-text: #5F727D;
  --blockie-name: #799BAE;
  --deep-blue: #106BF3;
  --plasma-green: #04b52c;
  --plasma-yellow: #efcc11;
  --plasma-orange: #F6DF0D;
  --plasma-brown: #896B02;
  --primary-btn-text-color: white;
  --primary-btn-bg-color: var(--plasma-green);
  --primary-btn-border-color: #319146;
  --secondary-btn-text-color: #5E5E5E;
  --secondary-btn-border-color: #BDBDBD;
  --offset: 32px;
  @media screen and (max-width: 480px){
    --offset: 16px;
  }
}

// NOTE: Stars can be generated here: https://codepen.io/TimDaub/pen/XWrdZyG
// At a later stage it would probably make sense to include compass directly
#stars {
  height: 10px;
  width: 2px;
  filter: drop-shadow(0px 0px 2px white);
  position: relative;
  background: transparent;
  box-shadow: 750px 900px #FFF , 101px 1556px rgba(255, 255, 255, 0.3) , 1198px 798px rgba(255, 255, 255, 0.3) , 1182px 378px rgba(255, 255, 255, 0.3) , 369px 1103px rgba(255, 255, 255, 0.3) , 62px 1370px rgba(255, 255, 255, 0.3) , 9px 1999px rgba(255, 255, 255, 0.3) , 630px 1975px rgba(255, 255, 255, 0.3) , 635px 755px rgba(255, 255, 255, 0.3) , 1982px 1053px rgba(255, 255, 255, 0.3) , 1957px 1412px rgba(255, 255, 255, 0.3) , 1414px 1853px rgba(255, 255, 255, 0.3) , 640px 680px rgba(255, 255, 255, 0.3) , 1706px 1237px rgba(255, 255, 255, 0.3) , 59px 1163px rgba(255, 255, 255, 0.3) , 1367px 620px rgba(255, 255, 255, 0.3) , 1774px 1888px rgba(255, 255, 255, 0.3) , 1121px 1628px rgba(255, 255, 255, 0.3) , 1722px 312px rgba(255, 255, 255, 0.3) , 616px 977px rgba(255, 255, 255, 0.3) , 291px 1367px rgba(255, 255, 255, 0.3) , 533px 859px rgba(255, 255, 255, 0.3) , 1696px 1080px rgba(255, 255, 255, 0.3) , 541px 459px rgba(255, 255, 255, 0.3) , 1402px 699px rgba(255, 255, 255, 0.3) , 1740px 22px rgba(255, 255, 255, 0.3) , 1503px 1625px rgba(255, 255, 255, 0.3) , 285px 1794px rgba(255, 255, 255, 0.3) , 521px 428px rgba(255, 255, 255, 0.3) , 1166px 1376px rgba(255, 255, 255, 0.3) , 1176px 117px rgba(255, 255, 255, 0.3) , 1231px 964px rgba(255, 255, 255, 0.3) , 1380px 843px rgba(255, 255, 255, 0.3) , 377px 510px rgba(255, 255, 255, 0.3) , 1500px 941px rgba(255, 255, 255, 0.3) , 1015px 1260px rgba(255, 255, 255, 0.3) , 403px 1979px rgba(255, 255, 255, 0.3) , 536px 1412px rgba(255, 255, 255, 0.3) , 1178px 1469px rgba(255, 255, 255, 0.3) , 1187px 1295px rgba(255, 255, 255, 0.3) , 22px 605px rgba(255, 255, 255, 0.3) , 152px 859px rgba(255, 255, 255, 0.3) , 398px 1172px rgba(255, 255, 255, 0.3) , 1592px 865px rgba(255, 255, 255, 0.3) , 1286px 1338px rgba(255, 255, 255, 0.3) , 1804px 946px rgba(255, 255, 255, 0.3) , 748px 1894px rgba(255, 255, 255, 0.3) , 1944px 230px rgba(255, 255, 255, 0.3) , 1197px 1247px rgba(255, 255, 255, 0.3) , 1535px 1727px rgba(255, 255, 255, 0.3);
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
  background: transparent;
  box-shadow: 750px 900px #FFF , 101px 1556px rgba(255, 255, 255, 0.3) , 1198px 798px rgba(255, 255, 255, 0.3) , 1182px 378px rgba(255, 255, 255, 0.3) , 369px 1103px rgba(255, 255, 255, 0.3) , 62px 1370px rgba(255, 255, 255, 0.3) , 9px 1999px rgba(255, 255, 255, 0.3) , 630px 1975px rgba(255, 255, 255, 0.3) , 635px 755px rgba(255, 255, 255, 0.3) , 1982px 1053px rgba(255, 255, 255, 0.3) , 1957px 1412px rgba(255, 255, 255, 0.3) , 1414px 1853px rgba(255, 255, 255, 0.3) , 640px 680px rgba(255, 255, 255, 0.3) , 1706px 1237px rgba(255, 255, 255, 0.3) , 59px 1163px rgba(255, 255, 255, 0.3) , 1367px 620px rgba(255, 255, 255, 0.3) , 1774px 1888px rgba(255, 255, 255, 0.3) , 1121px 1628px rgba(255, 255, 255, 0.3) , 1722px 312px rgba(255, 255, 255, 0.3) , 616px 977px rgba(255, 255, 255, 0.3) , 291px 1367px rgba(255, 255, 255, 0.3) , 533px 859px rgba(255, 255, 255, 0.3) , 1696px 1080px rgba(255, 255, 255, 0.3) , 541px 459px rgba(255, 255, 255, 0.3) , 1402px 699px rgba(255, 255, 255, 0.3) , 1740px 22px rgba(255, 255, 255, 0.3) , 1503px 1625px rgba(255, 255, 255, 0.3) , 285px 1794px rgba(255, 255, 255, 0.3) , 521px 428px rgba(255, 255, 255, 0.3) , 1166px 1376px rgba(255, 255, 255, 0.3) , 1176px 117px rgba(255, 255, 255, 0.3) , 1231px 964px rgba(255, 255, 255, 0.3) , 1380px 843px rgba(255, 255, 255, 0.3) , 377px 510px rgba(255, 255, 255, 0.3) , 1500px 941px rgba(255, 255, 255, 0.3) , 1015px 1260px rgba(255, 255, 255, 0.3) , 403px 1979px rgba(255, 255, 255, 0.3) , 536px 1412px rgba(255, 255, 255, 0.3) , 1178px 1469px rgba(255, 255, 255, 0.3) , 1187px 1295px rgba(255, 255, 255, 0.3) , 22px 605px rgba(255, 255, 255, 0.3) , 152px 859px rgba(255, 255, 255, 0.3) , 398px 1172px rgba(255, 255, 255, 0.3) , 1592px 865px rgba(255, 255, 255, 0.3) , 1286px 1338px rgba(255, 255, 255, 0.3) , 1804px 946px rgba(255, 255, 255, 0.3) , 748px 1894px rgba(255, 255, 255, 0.3) , 1944px 230px rgba(255, 255, 255, 0.3) , 1197px 1247px rgba(255, 255, 255, 0.3) , 1535px 1727px rgba(255, 255, 255, 0.3);
}

#stars2 {
  height: 5px;
  width: 1px;
  filter: drop-shadow(0px 0px 1px white);
  background: transparent;
  box-shadow: 737px 437px #FFF , 1404px 655px rgba(255, 255, 255, 0.3) , 1304px 18px rgba(255, 255, 255, 0.3) , 1825px 1192px rgba(255, 255, 255, 0.3) , 194px 754px rgba(255, 255, 255, 0.3) , 608px 1378px rgba(255, 255, 255, 0.3) , 1265px 1378px rgba(255, 255, 255, 0.3) , 1504px 1411px rgba(255, 255, 255, 0.3) , 952px 561px rgba(255, 255, 255, 0.3) , 847px 1980px rgba(255, 255, 255, 0.3) , 663px 1404px rgba(255, 255, 255, 0.3) , 358px 1647px rgba(255, 255, 255, 0.3) , 1042px 24px rgba(255, 255, 255, 0.3) , 1096px 1844px rgba(255, 255, 255, 0.3) , 1756px 920px rgba(255, 255, 255, 0.3) , 1756px 1564px rgba(255, 255, 255, 0.3) , 1790px 894px rgba(255, 255, 255, 0.3) , 1312px 332px rgba(255, 255, 255, 0.3) , 542px 1602px rgba(255, 255, 255, 0.3) , 191px 893px rgba(255, 255, 255, 0.3);
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  height: 1px;
  left: -2px;
  position: absolute;
  top: 2px;
  width: 5px;
  background: transparent;
  box-shadow: 737px 437px #FFF , 1404px 655px rgba(255, 255, 255, 0.3) , 1304px 18px rgba(255, 255, 255, 0.3) , 1825px 1192px rgba(255, 255, 255, 0.3) , 194px 754px rgba(255, 255, 255, 0.3) , 608px 1378px rgba(255, 255, 255, 0.3) , 1265px 1378px rgba(255, 255, 255, 0.3) , 1504px 1411px rgba(255, 255, 255, 0.3) , 952px 561px rgba(255, 255, 255, 0.3) , 847px 1980px rgba(255, 255, 255, 0.3) , 663px 1404px rgba(255, 255, 255, 0.3) , 358px 1647px rgba(255, 255, 255, 0.3) , 1042px 24px rgba(255, 255, 255, 0.3) , 1096px 1844px rgba(255, 255, 255, 0.3) , 1756px 920px rgba(255, 255, 255, 0.3) , 1756px 1564px rgba(255, 255, 255, 0.3) , 1790px 894px rgba(255, 255, 255, 0.3) , 1312px 332px rgba(255, 255, 255, 0.3) , 542px 1602px rgba(255, 255, 255, 0.3) , 191px 893px rgba(255, 255, 255, 0.3);
}

#stars3 {
  height: 15px;
  width: 3px;
  filter: drop-shadow(0px 0px 3px white);
  background: transparent;
  box-shadow: 590px 466px #FFF , 1524px 873px rgba(255, 255, 255, 0.3) , 1175px 207px rgba(255, 255, 255, 0.3) , 1943px 1168px rgba(255, 255, 255, 0.3) , 1795px 1500px rgba(255, 255, 255, 0.3) , 1702px 609px rgba(255, 255, 255, 0.3) , 377px 283px rgba(255, 255, 255, 0.3) , 272px 1390px rgba(255, 255, 255, 0.3) , 549px 1567px rgba(255, 255, 255, 0.3) , 1770px 1074px rgba(255, 255, 255, 0.3);
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  height: 3px;
  left: -6px;
  position: absolute;
  top: 6px;
  width: 15px;
  background: transparent;
  box-shadow: 590px 466px #FFF , 1524px 873px rgba(255, 255, 255, 0.3) , 1175px 207px rgba(255, 255, 255, 0.3) , 1943px 1168px rgba(255, 255, 255, 0.3) , 1795px 1500px rgba(255, 255, 255, 0.3) , 1702px 609px rgba(255, 255, 255, 0.3) , 377px 283px rgba(255, 255, 255, 0.3) , 272px 1390px rgba(255, 255, 255, 0.3) , 549px 1567px rgba(255, 255, 255, 0.3) , 1770px 1074px rgba(255, 255, 255, 0.3);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.row {
  margin-left: 0;
  margin-right: 0;
}

.col-6 {
   padding-left: 0;
   padding-right: 0;
}

i.fas {
  cursor: pointer;
}

.header {
  padding: 16px 0;
  position: relative;
  color: white;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  justify-content: space-between;
  i {
    font-size: 32px;
  }
  span {
    font-size: 32px;
    font-weight: 600;
  }
  margin-bottom: 0px;

	@media screen and (max-width: 768px){
		padding: 16px;
	}
}

.card {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  margin: 0;
  .icons {
    * {
      cursor: pointer;
      margin-left: 16px;
    }
    color: #8762A6;
    font-weight: 800;
  }
  margin-bottom: 10px;
}

.main-card {
  padding: 15px 0;
  margin-bottom: 20px;
  .content {
    margin: 0 15px;
  }

  .qr {

    canvas {
      margin: 0 auto;
      height: 256px;
      margin-bottom: 1rem;
    }

    input {
      background: white;
    }

    span {
      cursor: pointer;
      background: white;
      i {
        color: #8762A6;
      }
    }
  }

  .bridge, .ops {
    .btn {
      background-color: #FFFFFF;
      color: white;
      font-weight: 500;
    }
  }
}


.balance {
  width: 100%;
  max-height: 60px;

  .avatar {
    max-width: 60px;
    margin-right: 10px;
    canvas {
      max-width: 60px;
      max-height: 60px;
    }
  }

  span {
    font-size: 16px;
    vertical-align: top;
  }

  div {
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
  }
}

.nav-card {
  i {
    color: #8762A6;
    line-height: 30px;
  }
  span {
    margin-left: 20px;
  }
}

.send-to-address {
  .form-group .identicon {
    display: block;
    margin: 0 auto;
  }
  label {
    font-size: 14px;
  }
  button {
    margin-top: 10px;
    font-size: 16px ;
  }
}

.bottom-text{
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .alert {
    font-size: 16px;
    margin: 10px;
  }
}

.show-pointer{
	cursor: pointer;
}

.content.ops.row{
	align-items: center;
}

.blockie_container{
	cursor: pointer;
	display: flex;
	align-items: center;
}

.blockie_container__name{
	margin-left: 16px;
	color: var(--blockie-name);
	font-size: 20px;
	font-weight: 700;
}

.blockie__loader{
	max-height:50px;
	opacity:0.25;
	width: 48px;
	height: 48px;
	object-fit: cover
}

.money_display{

}

.money_display__connecting{
	opacity: 0.1;
	font-size: 28px;
}

.money_display__network{
	font-size: 20px;
	font-weight: 400;
	color: var(--dark-text);
}

.context{
	position: fixed;
	left: var(--offset);
	bottom: var(--offset);
	opacity:0.25;
	z-index:-1;
	font-size: 40px;
	line-height: 1;
	color: var(--dark-text);
}

.main{
	min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.main--incognito{}

.main--metamask{}

.main--web3{}

.inner-container{
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
	text-align: left;
}

.loader{
	text-align: center;
	--loader-height: 2px;
	--loader-bg: #efcc11;
	--loader-main: var(--plasma-yellow);
	--loader-glow: var(--plasma-yellow);
}

.loader__logo{
	max-width: 60%;
	mix-blend-mode: screen;
	padding-bottom: 40px;
}

.loader__progress{
	width: 80%;
	height: var(--loader-height);
	background-color: var(--loader-bg);
	margin-left: 10%;
}

.loader__progress_fill{
	height: var(--loader-height);
	background-color: var(--loader-main);
	box-shadow: 0 0 5px 1px var(--loader-glow);
}

.fab_container{
	position: fixed;
	z-index: 2;
	cursor: pointer;
	right: var(--offset);
	bottom: var(--offset);
}

.fab_button{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	fill: white;
	border-radius: 90px;
	border: none;
	background-color: var(--deep-blue);
	background: radial-gradient(70px at 50% 100%, var(--plasma-yellow) 0%, var(--plasma-green) 100%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	color: white;
	&:hover{
	background-color: #1c73f3;
	 }
}

.fab_icon--capture{
	--icon-size: 60px;
	width: var(--icon-size);
	height: var(--icon-size);
}

.cta_button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-weight: 600;
	padding: 12px 0;
	background-color: var(--plasma-orange);
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px #EFBB01, 0 2px 3px rgba(0,0,0,0.1);
	color: #896B02;
}

.ops.row.settings-row{
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-bottom: 10px;
	input{
		margin: 0;
		height: 100%;
	}
	button, a, input{
		flex: 1;
	}
}

input.settings-input{
	height: auto;
}

.content.ops.row{
	margin: 0;
}

.input-with-toggle{
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: center;
	height: 100%;
}

button.show-toggle{
	width: 50px;
	right: 0;
	flex: 0 0 auto;
	margin-left: 10px;
}

.ops.row.transfer-row{
	display: grid;
	grid-template-areas: 'input cancel send';
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 0 15px;
	i{
		text-align: center;
	}
	@media screen and (max-width: 600px){
		grid-template-areas: 'input input' 'cancel send';
	}
}

.input-with-arrow{
	grid-area: input;
	display: flex;
	i{
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
}

.btn-cancel{
	grid-area: cancel;
}

.btn-send{
	grid-area: send;
}

.qr-code{
	max-width: 350px;
	width: 100%;
	height: auto;
}
