*{
  --dark-text: #5F727D;
  --blockie-name: #799BAE;
  --deep-blue: #106BF3;
  --plasma-green: #04b52c;
  --plasma-yellow: #efcc11;
  --plasma-orange: #F6DF0D;
  --plasma-brown: #896B02;
  --primary-btn-text-color: white;
  --primary-btn-bg-color: var(--plasma-green);
  --primary-btn-border-color: #319146;
  --secondary-btn-text-color: #5E5E5E;
  --secondary-btn-border-color: #BDBDBD;
  --offset: 32px;
  @media screen and (max-width: 480px){
    --offset: 16px;
  }
}

// NOTE: Stars can be generated here: https://codepen.io/TimDaub/pen/XWrdZyG
// At a later stage it would probably make sense to include compass directly
#stars {
  height: 10px;
  width: 2px;
  filter: drop-shadow(0px 0px 2px white);
  position: relative;
  background: transparent;
  box-shadow: 875px 403px #FFF , 306px 930px rgba(255, 255, 255, 0.3) , 1492px 1390px rgba(255, 255, 255, 0.3) , 1133px 1333px rgba(255, 255, 255, 0.3) , 337px 139px rgba(255, 255, 255, 0.3) , 383px 1288px rgba(255, 255, 255, 0.3) , 1153px 374px rgba(255, 255, 255, 0.3) , 300px 868px rgba(255, 255, 255, 0.3) , 1441px 461px rgba(255, 255, 255, 0.3) , 200px 362px rgba(255, 255, 255, 0.3) , 1492px 1051px rgba(255, 255, 255, 0.3) , 340px 885px rgba(255, 255, 255, 0.3) , 473px 1226px rgba(255, 255, 255, 0.3) , 767px 1389px rgba(255, 255, 255, 0.3) , 1370px 1456px rgba(255, 255, 255, 0.3) , 1251px 853px rgba(255, 255, 255, 0.3) , 884px 856px rgba(255, 255, 255, 0.3) , 1597px 1090px rgba(255, 255, 255, 0.3) , 1114px 1455px rgba(255, 255, 255, 0.3) , 1738px 1318px rgba(255, 255, 255, 0.3) , 18px 581px rgba(255, 255, 255, 0.3) , 1690px 1475px rgba(255, 255, 255, 0.3) , 74px 1613px rgba(255, 255, 255, 0.3) , 1441px 1877px rgba(255, 255, 255, 0.3) , 1826px 735px rgba(255, 255, 255, 0.3) , 513px 1871px rgba(255, 255, 255, 0.3) , 1610px 570px rgba(255, 255, 255, 0.3) , 957px 648px rgba(255, 255, 255, 0.3) , 750px 10px rgba(255, 255, 255, 0.3) , 1686px 381px rgba(255, 255, 255, 0.3) , 750px 1241px rgba(255, 255, 255, 0.3) , 1527px 1409px rgba(255, 255, 255, 0.3) , 1067px 1037px rgba(255, 255, 255, 0.3) , 1322px 1822px rgba(255, 255, 255, 0.3) , 1871px 121px rgba(255, 255, 255, 0.3) , 1628px 1849px rgba(255, 255, 255, 0.3) , 1157px 1627px rgba(255, 255, 255, 0.3) , 892px 1598px rgba(255, 255, 255, 0.3) , 238px 447px rgba(255, 255, 255, 0.3) , 1970px 1817px rgba(255, 255, 255, 0.3) , 1947px 865px rgba(255, 255, 255, 0.3) , 164px 21px rgba(255, 255, 255, 0.3) , 994px 76px rgba(255, 255, 255, 0.3) , 1314px 1356px rgba(255, 255, 255, 0.3) , 227px 1830px rgba(255, 255, 255, 0.3) , 364px 484px rgba(255, 255, 255, 0.3) , 1981px 1044px rgba(255, 255, 255, 0.3) , 709px 1612px rgba(255, 255, 255, 0.3) , 975px 678px rgba(255, 255, 255, 0.3) , 1621px 414px rgba(255, 255, 255, 0.3) , 401px 1442px rgba(255, 255, 255, 0.3) , 450px 456px rgba(255, 255, 255, 0.3) , 734px 53px rgba(255, 255, 255, 0.3) , 698px 88px rgba(255, 255, 255, 0.3) , 756px 1944px rgba(255, 255, 255, 0.3) , 423px 1818px rgba(255, 255, 255, 0.3) , 349px 1231px rgba(255, 255, 255, 0.3) , 977px 1209px rgba(255, 255, 255, 0.3) , 1228px 595px rgba(255, 255, 255, 0.3) , 455px 1521px rgba(255, 255, 255, 0.3) , 977px 1885px rgba(255, 255, 255, 0.3) , 503px 726px rgba(255, 255, 255, 0.3) , 1224px 31px rgba(255, 255, 255, 0.3) , 1752px 308px rgba(255, 255, 255, 0.3) , 391px 1196px rgba(255, 255, 255, 0.3) , 1897px 1993px rgba(255, 255, 255, 0.3) , 1137px 385px rgba(255, 255, 255, 0.3) , 1565px 404px rgba(255, 255, 255, 0.3) , 1027px 1890px rgba(255, 255, 255, 0.3) , 1570px 1408px rgba(255, 255, 255, 0.3) , 25px 1300px rgba(255, 255, 255, 0.3) , 1968px 1907px rgba(255, 255, 255, 0.3) , 209px 167px rgba(255, 255, 255, 0.3) , 365px 1087px rgba(255, 255, 255, 0.3) , 935px 1641px rgba(255, 255, 255, 0.3) , 70px 1669px rgba(255, 255, 255, 0.3) , 652px 1857px rgba(255, 255, 255, 0.3) , 50px 1400px rgba(255, 255, 255, 0.3) , 377px 995px rgba(255, 255, 255, 0.3) , 12px 1977px rgba(255, 255, 255, 0.3) , 1701px 820px rgba(255, 255, 255, 0.3) , 482px 1246px rgba(255, 255, 255, 0.3) , 836px 784px rgba(255, 255, 255, 0.3) , 818px 355px rgba(255, 255, 255, 0.3) , 779px 386px rgba(255, 255, 255, 0.3) , 1868px 23px rgba(255, 255, 255, 0.3) , 376px 1682px rgba(255, 255, 255, 0.3) , 840px 1953px rgba(255, 255, 255, 0.3) , 1746px 360px rgba(255, 255, 255, 0.3) , 337px 794px rgba(255, 255, 255, 0.3) , 778px 1745px rgba(255, 255, 255, 0.3) , 570px 872px rgba(255, 255, 255, 0.3) , 1604px 1883px rgba(255, 255, 255, 0.3) , 450px 1993px rgba(255, 255, 255, 0.3) , 1394px 666px rgba(255, 255, 255, 0.3) , 742px 1987px rgba(255, 255, 255, 0.3) , 798px 1866px rgba(255, 255, 255, 0.3) , 515px 500px rgba(255, 255, 255, 0.3) , 1492px 859px rgba(255, 255, 255, 0.3) , 266px 116px rgba(255, 255, 255, 0.3) , 1657px 543px rgba(255, 255, 255, 0.3) , 1312px 540px rgba(255, 255, 255, 0.3) , 1517px 1807px rgba(255, 255, 255, 0.3) , 1307px 485px rgba(255, 255, 255, 0.3) , 1157px 962px rgba(255, 255, 255, 0.3) , 1829px 1030px rgba(255, 255, 255, 0.3) , 1424px 153px rgba(255, 255, 255, 0.3) , 1309px 583px rgba(255, 255, 255, 0.3) , 1814px 1636px rgba(255, 255, 255, 0.3) , 1502px 359px rgba(255, 255, 255, 0.3) , 1549px 970px rgba(255, 255, 255, 0.3) , 962px 1966px rgba(255, 255, 255, 0.3) , 126px 1978px rgba(255, 255, 255, 0.3) , 750px 174px rgba(255, 255, 255, 0.3) , 1259px 1334px rgba(255, 255, 255, 0.3) , 1317px 1676px rgba(255, 255, 255, 0.3) , 1834px 230px rgba(255, 255, 255, 0.3) , 1730px 1751px rgba(255, 255, 255, 0.3) , 540px 989px rgba(255, 255, 255, 0.3) , 712px 1427px rgba(255, 255, 255, 0.3) , 1337px 485px rgba(255, 255, 255, 0.3) , 1134px 83px rgba(255, 255, 255, 0.3) , 906px 1934px rgba(255, 255, 255, 0.3) , 529px 1628px rgba(255, 255, 255, 0.3) , 82px 1986px rgba(255, 255, 255, 0.3) , 1399px 1721px rgba(255, 255, 255, 0.3) , 1184px 235px rgba(255, 255, 255, 0.3) , 1575px 1765px rgba(255, 255, 255, 0.3) , 822px 650px rgba(255, 255, 255, 0.3) , 772px 133px rgba(255, 255, 255, 0.3) , 176px 613px rgba(255, 255, 255, 0.3) , 1581px 937px rgba(255, 255, 255, 0.3) , 1343px 206px rgba(255, 255, 255, 0.3) , 611px 563px rgba(255, 255, 255, 0.3) , 1425px 804px rgba(255, 255, 255, 0.3) , 70px 911px rgba(255, 255, 255, 0.3) , 937px 1380px rgba(255, 255, 255, 0.3) , 42px 607px rgba(255, 255, 255, 0.3) , 850px 478px rgba(255, 255, 255, 0.3) , 761px 647px rgba(255, 255, 255, 0.3) , 943px 220px rgba(255, 255, 255, 0.3) , 1619px 1217px rgba(255, 255, 255, 0.3) , 212px 1160px rgba(255, 255, 255, 0.3) , 477px 1135px rgba(255, 255, 255, 0.3) , 592px 163px rgba(255, 255, 255, 0.3) , 1100px 1336px rgba(255, 255, 255, 0.3) , 1637px 1855px rgba(255, 255, 255, 0.3) , 424px 1439px rgba(255, 255, 255, 0.3) , 1011px 529px rgba(255, 255, 255, 0.3) , 128px 909px rgba(255, 255, 255, 0.3) , 1082px 952px rgba(255, 255, 255, 0.3) , 141px 1396px rgba(255, 255, 255, 0.3) , 911px 186px rgba(255, 255, 255, 0.3) , 671px 994px rgba(255, 255, 255, 0.3) , 974px 952px rgba(255, 255, 255, 0.3) , 1732px 939px rgba(255, 255, 255, 0.3) , 570px 644px rgba(255, 255, 255, 0.3) , 1738px 1381px rgba(255, 255, 255, 0.3) , 1489px 94px rgba(255, 255, 255, 0.3) , 98px 1228px rgba(255, 255, 255, 0.3) , 1918px 750px rgba(255, 255, 255, 0.3) , 1500px 1080px rgba(255, 255, 255, 0.3) , 1019px 1669px rgba(255, 255, 255, 0.3) , 475px 1140px rgba(255, 255, 255, 0.3) , 414px 574px rgba(255, 255, 255, 0.3) , 1508px 624px rgba(255, 255, 255, 0.3) , 685px 580px rgba(255, 255, 255, 0.3) , 351px 741px rgba(255, 255, 255, 0.3) , 1059px 663px rgba(255, 255, 255, 0.3) , 543px 1700px rgba(255, 255, 255, 0.3) , 514px 1047px rgba(255, 255, 255, 0.3) , 540px 957px rgba(255, 255, 255, 0.3) , 770px 839px rgba(255, 255, 255, 0.3) , 1533px 34px rgba(255, 255, 255, 0.3) , 73px 321px rgba(255, 255, 255, 0.3);
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  height: 2px;
  left: -4px;
  position: absolute;
  top: 4px;
  width: 10px;
  background: transparent;
  box-shadow: 875px 403px #FFF , 306px 930px rgba(255, 255, 255, 0.3) , 1492px 1390px rgba(255, 255, 255, 0.3) , 1133px 1333px rgba(255, 255, 255, 0.3) , 337px 139px rgba(255, 255, 255, 0.3) , 383px 1288px rgba(255, 255, 255, 0.3) , 1153px 374px rgba(255, 255, 255, 0.3) , 300px 868px rgba(255, 255, 255, 0.3) , 1441px 461px rgba(255, 255, 255, 0.3) , 200px 362px rgba(255, 255, 255, 0.3) , 1492px 1051px rgba(255, 255, 255, 0.3) , 340px 885px rgba(255, 255, 255, 0.3) , 473px 1226px rgba(255, 255, 255, 0.3) , 767px 1389px rgba(255, 255, 255, 0.3) , 1370px 1456px rgba(255, 255, 255, 0.3) , 1251px 853px rgba(255, 255, 255, 0.3) , 884px 856px rgba(255, 255, 255, 0.3) , 1597px 1090px rgba(255, 255, 255, 0.3) , 1114px 1455px rgba(255, 255, 255, 0.3) , 1738px 1318px rgba(255, 255, 255, 0.3) , 18px 581px rgba(255, 255, 255, 0.3) , 1690px 1475px rgba(255, 255, 255, 0.3) , 74px 1613px rgba(255, 255, 255, 0.3) , 1441px 1877px rgba(255, 255, 255, 0.3) , 1826px 735px rgba(255, 255, 255, 0.3) , 513px 1871px rgba(255, 255, 255, 0.3) , 1610px 570px rgba(255, 255, 255, 0.3) , 957px 648px rgba(255, 255, 255, 0.3) , 750px 10px rgba(255, 255, 255, 0.3) , 1686px 381px rgba(255, 255, 255, 0.3) , 750px 1241px rgba(255, 255, 255, 0.3) , 1527px 1409px rgba(255, 255, 255, 0.3) , 1067px 1037px rgba(255, 255, 255, 0.3) , 1322px 1822px rgba(255, 255, 255, 0.3) , 1871px 121px rgba(255, 255, 255, 0.3) , 1628px 1849px rgba(255, 255, 255, 0.3) , 1157px 1627px rgba(255, 255, 255, 0.3) , 892px 1598px rgba(255, 255, 255, 0.3) , 238px 447px rgba(255, 255, 255, 0.3) , 1970px 1817px rgba(255, 255, 255, 0.3) , 1947px 865px rgba(255, 255, 255, 0.3) , 164px 21px rgba(255, 255, 255, 0.3) , 994px 76px rgba(255, 255, 255, 0.3) , 1314px 1356px rgba(255, 255, 255, 0.3) , 227px 1830px rgba(255, 255, 255, 0.3) , 364px 484px rgba(255, 255, 255, 0.3) , 1981px 1044px rgba(255, 255, 255, 0.3) , 709px 1612px rgba(255, 255, 255, 0.3) , 975px 678px rgba(255, 255, 255, 0.3) , 1621px 414px rgba(255, 255, 255, 0.3) , 401px 1442px rgba(255, 255, 255, 0.3) , 450px 456px rgba(255, 255, 255, 0.3) , 734px 53px rgba(255, 255, 255, 0.3) , 698px 88px rgba(255, 255, 255, 0.3) , 756px 1944px rgba(255, 255, 255, 0.3) , 423px 1818px rgba(255, 255, 255, 0.3) , 349px 1231px rgba(255, 255, 255, 0.3) , 977px 1209px rgba(255, 255, 255, 0.3) , 1228px 595px rgba(255, 255, 255, 0.3) , 455px 1521px rgba(255, 255, 255, 0.3) , 977px 1885px rgba(255, 255, 255, 0.3) , 503px 726px rgba(255, 255, 255, 0.3) , 1224px 31px rgba(255, 255, 255, 0.3) , 1752px 308px rgba(255, 255, 255, 0.3) , 391px 1196px rgba(255, 255, 255, 0.3) , 1897px 1993px rgba(255, 255, 255, 0.3) , 1137px 385px rgba(255, 255, 255, 0.3) , 1565px 404px rgba(255, 255, 255, 0.3) , 1027px 1890px rgba(255, 255, 255, 0.3) , 1570px 1408px rgba(255, 255, 255, 0.3) , 25px 1300px rgba(255, 255, 255, 0.3) , 1968px 1907px rgba(255, 255, 255, 0.3) , 209px 167px rgba(255, 255, 255, 0.3) , 365px 1087px rgba(255, 255, 255, 0.3) , 935px 1641px rgba(255, 255, 255, 0.3) , 70px 1669px rgba(255, 255, 255, 0.3) , 652px 1857px rgba(255, 255, 255, 0.3) , 50px 1400px rgba(255, 255, 255, 0.3) , 377px 995px rgba(255, 255, 255, 0.3) , 12px 1977px rgba(255, 255, 255, 0.3) , 1701px 820px rgba(255, 255, 255, 0.3) , 482px 1246px rgba(255, 255, 255, 0.3) , 836px 784px rgba(255, 255, 255, 0.3) , 818px 355px rgba(255, 255, 255, 0.3) , 779px 386px rgba(255, 255, 255, 0.3) , 1868px 23px rgba(255, 255, 255, 0.3) , 376px 1682px rgba(255, 255, 255, 0.3) , 840px 1953px rgba(255, 255, 255, 0.3) , 1746px 360px rgba(255, 255, 255, 0.3) , 337px 794px rgba(255, 255, 255, 0.3) , 778px 1745px rgba(255, 255, 255, 0.3) , 570px 872px rgba(255, 255, 255, 0.3) , 1604px 1883px rgba(255, 255, 255, 0.3) , 450px 1993px rgba(255, 255, 255, 0.3) , 1394px 666px rgba(255, 255, 255, 0.3) , 742px 1987px rgba(255, 255, 255, 0.3) , 798px 1866px rgba(255, 255, 255, 0.3) , 515px 500px rgba(255, 255, 255, 0.3) , 1492px 859px rgba(255, 255, 255, 0.3) , 266px 116px rgba(255, 255, 255, 0.3) , 1657px 543px rgba(255, 255, 255, 0.3) , 1312px 540px rgba(255, 255, 255, 0.3) , 1517px 1807px rgba(255, 255, 255, 0.3) , 1307px 485px rgba(255, 255, 255, 0.3) , 1157px 962px rgba(255, 255, 255, 0.3) , 1829px 1030px rgba(255, 255, 255, 0.3) , 1424px 153px rgba(255, 255, 255, 0.3) , 1309px 583px rgba(255, 255, 255, 0.3) , 1814px 1636px rgba(255, 255, 255, 0.3) , 1502px 359px rgba(255, 255, 255, 0.3) , 1549px 970px rgba(255, 255, 255, 0.3) , 962px 1966px rgba(255, 255, 255, 0.3) , 126px 1978px rgba(255, 255, 255, 0.3) , 750px 174px rgba(255, 255, 255, 0.3) , 1259px 1334px rgba(255, 255, 255, 0.3) , 1317px 1676px rgba(255, 255, 255, 0.3) , 1834px 230px rgba(255, 255, 255, 0.3) , 1730px 1751px rgba(255, 255, 255, 0.3) , 540px 989px rgba(255, 255, 255, 0.3) , 712px 1427px rgba(255, 255, 255, 0.3) , 1337px 485px rgba(255, 255, 255, 0.3) , 1134px 83px rgba(255, 255, 255, 0.3) , 906px 1934px rgba(255, 255, 255, 0.3) , 529px 1628px rgba(255, 255, 255, 0.3) , 82px 1986px rgba(255, 255, 255, 0.3) , 1399px 1721px rgba(255, 255, 255, 0.3) , 1184px 235px rgba(255, 255, 255, 0.3) , 1575px 1765px rgba(255, 255, 255, 0.3) , 822px 650px rgba(255, 255, 255, 0.3) , 772px 133px rgba(255, 255, 255, 0.3) , 176px 613px rgba(255, 255, 255, 0.3) , 1581px 937px rgba(255, 255, 255, 0.3) , 1343px 206px rgba(255, 255, 255, 0.3) , 611px 563px rgba(255, 255, 255, 0.3) , 1425px 804px rgba(255, 255, 255, 0.3) , 70px 911px rgba(255, 255, 255, 0.3) , 937px 1380px rgba(255, 255, 255, 0.3) , 42px 607px rgba(255, 255, 255, 0.3) , 850px 478px rgba(255, 255, 255, 0.3) , 761px 647px rgba(255, 255, 255, 0.3) , 943px 220px rgba(255, 255, 255, 0.3) , 1619px 1217px rgba(255, 255, 255, 0.3) , 212px 1160px rgba(255, 255, 255, 0.3) , 477px 1135px rgba(255, 255, 255, 0.3) , 592px 163px rgba(255, 255, 255, 0.3) , 1100px 1336px rgba(255, 255, 255, 0.3) , 1637px 1855px rgba(255, 255, 255, 0.3) , 424px 1439px rgba(255, 255, 255, 0.3) , 1011px 529px rgba(255, 255, 255, 0.3) , 128px 909px rgba(255, 255, 255, 0.3) , 1082px 952px rgba(255, 255, 255, 0.3) , 141px 1396px rgba(255, 255, 255, 0.3) , 911px 186px rgba(255, 255, 255, 0.3) , 671px 994px rgba(255, 255, 255, 0.3) , 974px 952px rgba(255, 255, 255, 0.3) , 1732px 939px rgba(255, 255, 255, 0.3) , 570px 644px rgba(255, 255, 255, 0.3) , 1738px 1381px rgba(255, 255, 255, 0.3) , 1489px 94px rgba(255, 255, 255, 0.3) , 98px 1228px rgba(255, 255, 255, 0.3) , 1918px 750px rgba(255, 255, 255, 0.3) , 1500px 1080px rgba(255, 255, 255, 0.3) , 1019px 1669px rgba(255, 255, 255, 0.3) , 475px 1140px rgba(255, 255, 255, 0.3) , 414px 574px rgba(255, 255, 255, 0.3) , 1508px 624px rgba(255, 255, 255, 0.3) , 685px 580px rgba(255, 255, 255, 0.3) , 351px 741px rgba(255, 255, 255, 0.3) , 1059px 663px rgba(255, 255, 255, 0.3) , 543px 1700px rgba(255, 255, 255, 0.3) , 514px 1047px rgba(255, 255, 255, 0.3) , 540px 957px rgba(255, 255, 255, 0.3) , 770px 839px rgba(255, 255, 255, 0.3) , 1533px 34px rgba(255, 255, 255, 0.3) , 73px 321px rgba(255, 255, 255, 0.3);
}

#stars2 {
  height: 5px;
  width: 1px;
  filter: drop-shadow(0px 0px 1px white);
  background: transparent;
  box-shadow: 35px 535px #FFF , 1735px 125px rgba(255, 255, 255, 0.3) , 1686px 950px rgba(255, 255, 255, 0.3) , 667px 1722px rgba(255, 255, 255, 0.3) , 418px 1714px rgba(255, 255, 255, 0.3) , 1642px 504px rgba(255, 255, 255, 0.3) , 1625px 541px rgba(255, 255, 255, 0.3) , 712px 1880px rgba(255, 255, 255, 0.3) , 1231px 1480px rgba(255, 255, 255, 0.3) , 1133px 360px rgba(255, 255, 255, 0.3) , 1922px 225px rgba(255, 255, 255, 0.3) , 1502px 1550px rgba(255, 255, 255, 0.3) , 1552px 426px rgba(255, 255, 255, 0.3) , 89px 1629px rgba(255, 255, 255, 0.3) , 186px 805px rgba(255, 255, 255, 0.3) , 1566px 1667px rgba(255, 255, 255, 0.3) , 1349px 846px rgba(255, 255, 255, 0.3) , 1385px 1765px rgba(255, 255, 255, 0.3) , 1995px 422px rgba(255, 255, 255, 0.3) , 331px 1755px rgba(255, 255, 255, 0.3) , 1051px 621px rgba(255, 255, 255, 0.3) , 1883px 1037px rgba(255, 255, 255, 0.3) , 1140px 556px rgba(255, 255, 255, 0.3) , 1075px 273px rgba(255, 255, 255, 0.3) , 283px 1812px rgba(255, 255, 255, 0.3) , 60px 1959px rgba(255, 255, 255, 0.3) , 706px 185px rgba(255, 255, 255, 0.3) , 803px 1974px rgba(255, 255, 255, 0.3) , 1009px 413px rgba(255, 255, 255, 0.3) , 1631px 229px rgba(255, 255, 255, 0.3) , 792px 1135px rgba(255, 255, 255, 0.3) , 1991px 1592px rgba(255, 255, 255, 0.3) , 40px 561px rgba(255, 255, 255, 0.3) , 1286px 1607px rgba(255, 255, 255, 0.3) , 823px 602px rgba(255, 255, 255, 0.3) , 724px 895px rgba(255, 255, 255, 0.3) , 1236px 1706px rgba(255, 255, 255, 0.3) , 1226px 783px rgba(255, 255, 255, 0.3) , 1289px 772px rgba(255, 255, 255, 0.3) , 386px 1994px rgba(255, 255, 255, 0.3) , 8px 1598px rgba(255, 255, 255, 0.3) , 797px 1633px rgba(255, 255, 255, 0.3) , 1552px 1352px rgba(255, 255, 255, 0.3) , 427px 1817px rgba(255, 255, 255, 0.3) , 977px 1452px rgba(255, 255, 255, 0.3) , 568px 884px rgba(255, 255, 255, 0.3) , 1432px 832px rgba(255, 255, 255, 0.3) , 1432px 402px rgba(255, 255, 255, 0.3) , 432px 1011px rgba(255, 255, 255, 0.3) , 519px 952px rgba(255, 255, 255, 0.3);
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  height: 1px;
  left: -2px;
  position: absolute;
  top: 2px;
  width: 5px;
  background: transparent;
  box-shadow: 35px 535px #FFF , 1735px 125px rgba(255, 255, 255, 0.3) , 1686px 950px rgba(255, 255, 255, 0.3) , 667px 1722px rgba(255, 255, 255, 0.3) , 418px 1714px rgba(255, 255, 255, 0.3) , 1642px 504px rgba(255, 255, 255, 0.3) , 1625px 541px rgba(255, 255, 255, 0.3) , 712px 1880px rgba(255, 255, 255, 0.3) , 1231px 1480px rgba(255, 255, 255, 0.3) , 1133px 360px rgba(255, 255, 255, 0.3) , 1922px 225px rgba(255, 255, 255, 0.3) , 1502px 1550px rgba(255, 255, 255, 0.3) , 1552px 426px rgba(255, 255, 255, 0.3) , 89px 1629px rgba(255, 255, 255, 0.3) , 186px 805px rgba(255, 255, 255, 0.3) , 1566px 1667px rgba(255, 255, 255, 0.3) , 1349px 846px rgba(255, 255, 255, 0.3) , 1385px 1765px rgba(255, 255, 255, 0.3) , 1995px 422px rgba(255, 255, 255, 0.3) , 331px 1755px rgba(255, 255, 255, 0.3) , 1051px 621px rgba(255, 255, 255, 0.3) , 1883px 1037px rgba(255, 255, 255, 0.3) , 1140px 556px rgba(255, 255, 255, 0.3) , 1075px 273px rgba(255, 255, 255, 0.3) , 283px 1812px rgba(255, 255, 255, 0.3) , 60px 1959px rgba(255, 255, 255, 0.3) , 706px 185px rgba(255, 255, 255, 0.3) , 803px 1974px rgba(255, 255, 255, 0.3) , 1009px 413px rgba(255, 255, 255, 0.3) , 1631px 229px rgba(255, 255, 255, 0.3) , 792px 1135px rgba(255, 255, 255, 0.3) , 1991px 1592px rgba(255, 255, 255, 0.3) , 40px 561px rgba(255, 255, 255, 0.3) , 1286px 1607px rgba(255, 255, 255, 0.3) , 823px 602px rgba(255, 255, 255, 0.3) , 724px 895px rgba(255, 255, 255, 0.3) , 1236px 1706px rgba(255, 255, 255, 0.3) , 1226px 783px rgba(255, 255, 255, 0.3) , 1289px 772px rgba(255, 255, 255, 0.3) , 386px 1994px rgba(255, 255, 255, 0.3) , 8px 1598px rgba(255, 255, 255, 0.3) , 797px 1633px rgba(255, 255, 255, 0.3) , 1552px 1352px rgba(255, 255, 255, 0.3) , 427px 1817px rgba(255, 255, 255, 0.3) , 977px 1452px rgba(255, 255, 255, 0.3) , 568px 884px rgba(255, 255, 255, 0.3) , 1432px 832px rgba(255, 255, 255, 0.3) , 1432px 402px rgba(255, 255, 255, 0.3) , 432px 1011px rgba(255, 255, 255, 0.3) , 519px 952px rgba(255, 255, 255, 0.3);
}

#stars3 {
  height: 15px;
  width: 3px;
  filter: drop-shadow(0px 0px 3px white);
  background: transparent;
  box-shadow: 662px 980px #FFF , 153px 1065px rgba(255, 255, 255, 0.3) , 77px 1944px rgba(255, 255, 255, 0.3) , 1683px 1511px rgba(255, 255, 255, 0.3) , 1160px 282px rgba(255, 255, 255, 0.3) , 1360px 697px rgba(255, 255, 255, 0.3) , 722px 601px rgba(255, 255, 255, 0.3) , 1771px 1718px rgba(255, 255, 255, 0.3) , 1756px 1461px rgba(255, 255, 255, 0.3) , 425px 1042px rgba(255, 255, 255, 0.3) , 1359px 417px rgba(255, 255, 255, 0.3) , 811px 1995px rgba(255, 255, 255, 0.3) , 1295px 1167px rgba(255, 255, 255, 0.3) , 904px 1359px rgba(255, 255, 255, 0.3) , 602px 1773px rgba(255, 255, 255, 0.3) , 547px 710px rgba(255, 255, 255, 0.3) , 1951px 1406px rgba(255, 255, 255, 0.3) , 677px 1561px rgba(255, 255, 255, 0.3) , 1855px 57px rgba(255, 255, 255, 0.3) , 300px 1332px rgba(255, 255, 255, 0.3) , 1231px 1833px rgba(255, 255, 255, 0.3) , 1600px 778px rgba(255, 255, 255, 0.3) , 1028px 1068px rgba(255, 255, 255, 0.3) , 1261px 1738px rgba(255, 255, 255, 0.3) , 701px 604px rgba(255, 255, 255, 0.3);
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  height: 3px;
  left: -6px;
  position: absolute;
  top: 6px;
  width: 15px;
  background: transparent;
  box-shadow: 662px 980px #FFF , 153px 1065px rgba(255, 255, 255, 0.3) , 77px 1944px rgba(255, 255, 255, 0.3) , 1683px 1511px rgba(255, 255, 255, 0.3) , 1160px 282px rgba(255, 255, 255, 0.3) , 1360px 697px rgba(255, 255, 255, 0.3) , 722px 601px rgba(255, 255, 255, 0.3) , 1771px 1718px rgba(255, 255, 255, 0.3) , 1756px 1461px rgba(255, 255, 255, 0.3) , 425px 1042px rgba(255, 255, 255, 0.3) , 1359px 417px rgba(255, 255, 255, 0.3) , 811px 1995px rgba(255, 255, 255, 0.3) , 1295px 1167px rgba(255, 255, 255, 0.3) , 904px 1359px rgba(255, 255, 255, 0.3) , 602px 1773px rgba(255, 255, 255, 0.3) , 547px 710px rgba(255, 255, 255, 0.3) , 1951px 1406px rgba(255, 255, 255, 0.3) , 677px 1561px rgba(255, 255, 255, 0.3) , 1855px 57px rgba(255, 255, 255, 0.3) , 300px 1332px rgba(255, 255, 255, 0.3) , 1231px 1833px rgba(255, 255, 255, 0.3) , 1600px 778px rgba(255, 255, 255, 0.3) , 1028px 1068px rgba(255, 255, 255, 0.3) , 1261px 1738px rgba(255, 255, 255, 0.3) , 701px 604px rgba(255, 255, 255, 0.3);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col-6 {
   padding-left: 0;
   padding-right: 0;
}

i.fas {
  cursor: pointer;
}

.header {
  padding: 16px 0;
  position: relative;
  color: white;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  justify-content: space-between;
  i {
    font-size: 32px;
  }
  span {
    font-size: 32px;
    font-weight: 600;
  }
  margin-bottom: 0px;

	@media screen and (max-width: 768px){
		padding: 16px;
	}
}

.card {
  width: 100%;
  padding: 15px;
  font-weight: 600;
  margin: 0;
  .icons {
    * {
      cursor: pointer;
      margin-left: 16px;
    }
    color: #8762A6;
    font-weight: 800;
  }
  margin-bottom: 10px;
}

.main-card {
  padding: 15px 0;
  margin-bottom: 20px;
  .content {
    margin: 0 15px;
  }

  .qr {

    canvas {
      margin: 0 auto;
      height: 256px;
      margin-bottom: 1rem;
    }

    input {
      background: white;
    }

    span {
      cursor: pointer;
      background: white;
      i {
        color: #8762A6;
      }
    }
  }

  .bridge, .ops {
    .btn {
      background-color: #FFFFFF;
      color: white;
      font-weight: 500;
    }
  }
}


.balance {
  width: 100%;
  max-height: 60px;

  .avatar {
    max-width: 60px;
    margin-right: 10px;
    canvas {
      max-width: 60px;
      max-height: 60px;
    }
  }

  span {
    font-size: 16px;
    vertical-align: top;
  }

  div {
    font-weight: 500;
    font-size: 34px;
    line-height: 30px;
  }
}

.nav-card {
  i {
    color: #8762A6;
    line-height: 30px;
  }
  span {
    margin-left: 20px;
  }
}

.send-to-address {
  .form-group .identicon {
    display: block;
    margin: 0 auto;
  }
  label {
    font-size: 14px;
  }
  button {
    margin-top: 10px;
    font-size: 16px ;
  }
}

.bottom-text{
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  .alert {
    font-size: 16px;
    margin: 10px;
  }
}

.show-pointer{
	cursor: pointer;
}

.content.ops.row{
	align-items: center;
}

.blockie_container{
	cursor: pointer;
	display: flex;
	align-items: center;
}

.blockie_container__name{
	margin-left: 16px;
	color: var(--blockie-name);
	font-size: 20px;
	font-weight: 700;
}

.blockie__loader{
	max-height:50px;
	opacity:0.25;
	width: 48px;
	height: 48px;
	object-fit: cover
}

.money_display{

}

.money_display__connecting{
	opacity: 0.1;
	font-size: 28px;
}

.money_display__network{
	font-size: 20px;
	font-weight: 400;
	color: var(--dark-text);
}

.context{
	position: fixed;
	left: var(--offset);
	bottom: var(--offset);
	opacity:0.25;
	z-index:-1;
	font-size: 40px;
	line-height: 1;
	color: var(--dark-text);
}

.main{
	min-height: 100vh;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.main--incognito{}

.main--metamask{}

.main--web3{}

.inner-container{
	width: 100%;
	max-width: 740px;
	margin: 0 auto;
	text-align: left;
}

.loader{
	text-align: center;
	--loader-height: 2px;
	--loader-bg: #efcc11;
	--loader-main: var(--plasma-yellow);
	--loader-glow: var(--plasma-yellow);
}

.loader__logo{
	max-width: 60%;
	mix-blend-mode: difference;
	padding-bottom: 40px;
}

.loader__progress{
	width: 80%;
	height: var(--loader-height);
	background-color: var(--loader-bg);
	margin-left: 10%;
}

.loader__progress_fill{
	height: var(--loader-height);
	background-color: var(--loader-main);
	box-shadow: 0 0 5px 1px var(--loader-glow);
}

.fab_container{
	position: fixed;
	z-index: 2;
	cursor: pointer;
	right: var(--offset);
	bottom: var(--offset);
}

.fab_button{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	fill: white;
	border-radius: 90px;
	border: none;
	background-color: var(--deep-blue);
	background: radial-gradient(70px at 50% 100%, var(--plasma-yellow) 0%, var(--plasma-green) 100%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	color: white;
	&:hover{
	background-color: #1c73f3;
	 }
}

.fab_icon--capture{
	--icon-size: 60px;
	width: var(--icon-size);
	height: var(--icon-size);
}

.cta_button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-weight: 600;
	padding: 12px 0;
	background-color: var(--plasma-orange);
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 0 0 2px #EFBB01, 0 2px 3px rgba(0,0,0,0.1);
	color: #896B02;
}

.ops.row.settings-row{
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-bottom: 10px;
	input{
		margin: 0;
		height: 100%;
	}
	button, a, input{
		flex: 1;
	}
}

input.settings-input{
	height: auto;
}

.content.ops.row{
	margin: 0;
}

.input-with-toggle{
	position: relative;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	justify-content: center;
	height: 100%;
}

button.show-toggle{
	width: 50px;
	right: 0;
	flex: 0 0 auto;
	margin-left: 10px;
}

.ops.row.transfer-row{
	display: grid;
	grid-template-areas: 'input cancel send';
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding: 0 15px;
	i{
		text-align: center;
	}
	@media screen and (max-width: 600px){
		grid-template-areas: 'input input' 'cancel send';
	}
}

.input-with-arrow{
	grid-area: input;
	display: flex;
	i{
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
}

.btn-cancel{
	grid-area: cancel;
}

.btn-send{
	grid-area: send;
}

.qr-code{
	max-width: 350px;
	width: 100%;
	height: auto;
}
